[Unit]
Description=Run MongoDB Backup every 2 hours

[Timer]
OnBootSec=15min
OnUnitActiveSec=2h
Unit=mongodb-backup.service

[Install]
WantedBy=timers.target
