[Unit]
Description=WordPress Backup Service
After=network.target

[Service]
Type=simple
User=ubuntu
Environment="TZ=Africa/Harare"
WorkingDirectory=/home/garikaib/Documents/source/wordpress-backup
ExecStart=/home/garikaib/Documents/source/wordpress-backup/venv/bin/python3 /home/garikaib/Documents/source/wordpress-backup/lib/backup_manager.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
