[Unit]
Description=WordPress Backup Daily Report Timer

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
Unit=wordpress-report.service

[Install]
WantedBy=timers.target
